{cover_enabled,true}.
{deps, [
	{gproc, ".*",{git, "git://github.com/uwiger/gproc.git", {tag,"0.2.17"}}},
	{lager,".*",{git,"git://github.com/basho/lager.git",{tag,"2.0.0"}}},
	{cowboy, ".*", {git, "https://github.com/extend/cowboy.git", {tag,"0.8.6"}}},
	{epgsql,".*",{git,"https://github.com/wg/epgsql.git","master"}},
	{jiffy,".*",{git,"https://github.com/davisp/jiffy.git","master"}}
]}.